.titulo
{
display: flex;
justify-content: center;
font-size: 70px;
color: rgb(12, 58, 207);

}

.descripcion
{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: rgb(12, 58, 207);
}

.encabezado
{
    background-color: black;
}

.grid1
{
border: 0px solid rgb(58, 247, 190);
border-radius: 50px;
display: flex; 
justify-content:space-between;
}

.grid2
{
border: 0px solid rgb(58, 247, 190);
border-radius: 50px;
display: flex; 
justify-content:space-between;
}

.grid3
{
border: 0px solid rgb(58, 247, 190);
border-radius: 50px;
display: flex; 
justify-content:center;
}

.f1
{
border: 2px solid rgb(18, 117, 56);
border-radius: 50px;
}

.f2
{
border: 2px solid rgb(18, 117, 56);
border-radius: 50px;
}

.f3
{
border: 2px solid rgb(18, 117, 56);
border-radius: 50px;
}

.f4
{
border: 2px solid rgb(18, 117, 56);
border-radius: 50px;
}

.f5
{
border: 2px solid rgb(18, 117, 56);
border-radius: 50px;
}

.f6
{
border: 2px solid rgb(18, 117, 56);
border-radius: 50px;
}

.f7
{
border: 2px solid rgb(18, 117, 56);
border-radius: 50px;

}

.origami
{
border-radius: 20px;
background-color: rgba(61, 232, 238, 0.651);
padding: 15px; 
margin: 25px;
width: 320px;
height: 450px;
font-family: fantasy;
color: rgb(18, 117, 56);
}
.menu
{
    display: flex; 
    justify-content:space-between;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif; 
    font-weight: 400;
    color: white; 
}

a:link{
color: white;
}

a:visited{
color:white; 
}

a{
    text-decoration: none;
}

.origami2:hover{
    transform: scale(1.2);
}

.bodyImg{
    position: relative; 
}

.bodyImg p{
color: white;
font-size: 55px;
font-family: fantasy;
position: absolute;
top: 10%;
left: 50%;
transform: translate (-50%, -50%);
}
body
{
    margin: 0px; 
    background-color: rgb(167, 253, 97);
}